.s-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: rem(32);

  a,
  strong {
    color: $color-text-light;
  }

  &__main {
    div {
      font-size: rem(12);
      font-weight: 200;
    }

    h1 {
      font-size: rem(38);
      font-weight: normal;
      font-family: $font-family-title;
      color: $color-accent;
      margin: rem(10) 0;
    }

    h2 {
      font-size: rem(19);
      margin: rem(10) 0;
    }

    h3 {
      font-size: rem(18);
      font-weight: 300;
      margin: rem(10) 0;
    }

    @media only screen and (min-width: $mq-md) {
      div {
        font-size: rem(18);
      }

      h1 {
        font-size: rem(58);
        margin: rem(20) 0;
      }

      h2 {
        font-size: rem(28.2);
      }

      h3 {
        font-size: rem(27);
      }
    }
  }

  &__side {
    margin: rem(18) 0;
    padding: rem(18) rem(16);
    border-top: rem(1) solid rgba($color-dark, .2);
    border-bottom: rem(1) solid rgba($color-dark, .2);
    font-size: rem(14);

    @media only screen and (min-width: $mq-md) {
      font-size: rem(18);
    }
  }

  &__contact {
    p {
      margin: 0 0 rem(8);
      font-size: rem(12);
    }

    @media only screen and (min-width: $mq-md) {
      p {
        font-size: rem(14);
      }
    }
  }
}
