.s-home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: darken($color-light, 8%);
  background: linear-gradient(45deg, darken($color-primary, 10%) 0%, lighten($color-primary, 10%) 100%);

  a,
  strong,
  h1 {
    color: $color-light;
  }

  &__main {
    > * {
      margin: 0;
    }

    div {
      font-size: 1.5rem;
      font-weight: 200;
    }

    h1 {
      font-size: 2.6rem;
      font-weight: normal;
    }

    h2 {
      margin-top: .2rem;
      font-size: 1.63rem;
      font-weight: 300;
    }

    h3 {
      margin-top: .2rem;
      font-size: 1.02rem;
      font-weight: 300;

      a {
        font-size: 1.4em;
        font-weight: normal;
      }
    }

    @media only screen and (min-width: $mq-md) {
      div {
        font-size: 2rem;
      }

      h1 {
        font-size: 4rem;
      }

      h2 {
        font-size: 2.48rem;
      }

      h3 {
        font-size: 1.55rem;
      }
    }
  }

  &__side {
    margin-top: 2rem;
    padding: 1.5rem 1rem;
    border-top: 1px solid rgba($color-dark, .2);
    border-bottom: 1px solid rgba($color-dark, .2);
    font-weight: 300;
    font-size: .95rem;

    @media only screen and (min-width: $mq-md) {
      font-size: 1.42rem;
    }

    a {
      color: inherit;
    }

    .e-emulate-a {
      color: $color-light;
      font-weight: normal;
    }
  }

  &__contact {
    margin-top: 2rem;

    p {
      margin: 0 0 .5rem;
      font-size: .8rem;
    }

    @media only screen and (min-width: $mq-md) {
      p {
        font-size: .9rem;
      }
    }
  }
}