@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-gray-50: #fbfaf8;
    --color-gray-100: #f7f4f0;
    --color-gray-200: #e8e4df;
    --color-gray-300: #d6d2cd;
    --color-gray-400: #a5a19c;
    --color-gray-500: #75726f;
    --color-gray-600: #555350;
    --color-gray-700: #42403d;
    --color-gray-800: #272623;
    --color-gray-900: #1a1916;
    --color-gray-950: #0b0a08;
  }

  :root {
    --color-background: var(--color-gray-100);
    --color-background-from: var(--color-background);
    --color-background-to: var(--color-background);
    --color-foreground: var(--color-gray-600);
    --color-highlight: var(--color-gray-900);
    --color-border: var(--color-gray-200);
    --color-accent-text: #814000;
    --color-image-background: #ffbc1c;
    --color-image-accent: var(--color-image-background);
    --color-image-background-from: var(--color-image-background);
    --color-image-background-to: var(--color-image-background);
  }

  .dark {
    --color-background: var(--color-gray-900);
    --color-foreground: var(--color-gray-400);
    --color-highlight: white;
    --color-border: var(--color-gray-800);

    --color-accent-text: #ffbc1c;
    --color-image-background: #ffbc1c;
  }

  .gradient-overlay {
    display: none;
  }

  .arc {
    --color-background: var(--arc-palette-background, --color-background);
    --color-background-from: var(
      --arc-background-gradient-color0,
      --color-background
    );
    --color-background-to: var(--arc-background-gradient-color1);
    --color-foreground: var(--arc-palette-title, --color-foreground);
    --color-highlight: var(--arc-palette-maxContrastColor, --color-highlight);
    --color-border: var(--arc-palette-foregroundSecondary, --color-border);
    --color-accent-text: var(
      --arc-palette-foregroundSecondary,
      --color-accent-text
    );
    --color-image-background: var(--arc-palette-foregroundSecondary, #333);
    --color-image-accent: var(--arc-palette-foregroundSecondary, #fff);
    --color-image-background-from: var(--color-background-from);
    --color-image-background-to: var(--color-background-to);

    .gradient-overlay {
      display: block;
    }
  }

  .christmas {
    --color-background: #590d0d;
    --color-background-from: #380000;
    --color-background-to: #590d0d;
    --color-foreground: #e9d1d1;
    --color-highlight: #f8b229;
    --color-border: rgba(248, 178, 41, 0.4);
    --color-accent-text: white;
    --color-image-background: #165b33;
    --color-image-accent: #f8b229;
    --color-image-background-from: #042e16;
    --color-image-background-to: #165b33;

    .gradient-overlay {
      display: block;
    }
  }
}
