@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    interpolate-size: allow-keywords;

    --color-neutral-50: #fbfaf8;
    --color-neutral-100: #f7f4f0;
    --color-neutral-200: #e8e4df;
    --color-neutral-300: #d6d2cd;
    --color-neutral-400: #a5a19c;
    --color-neutral-500: #75726f;
    --color-neutral-600: #555350;
    --color-neutral-700: #42403d;
    --color-neutral-800: #272623;
    --color-neutral-900: #1a1916;
    --color-neutral-950: #0b0a08;

    --font-sans: var(--font-basiercirclemono);
    --font-heading: var(--font-argestadisplay);

    --radius: 0.5rem;

    /* LIGHT THEME */
    --color-background: var(--color-neutral-100);
    --color-background-from: var(--color-background);
    --color-background-to: var(--color-background);
    --color-foreground: var(--color-neutral-600);
    --color-highlight: var(--color-neutral-900);
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-neutral-400);
    --color-border: var(--color-neutral-200);
    --color-accent-text: #814000;
    --color-image-background: #ffbc1c;
    --color-image-accent: var(--color-image-background);
    --color-image-background-from: var(--color-image-background);
    --color-image-background-to: var(--color-image-background);
  }

  .dark {
    color-scheme: dark;
    --color-background: var(--color-neutral-900);
    --color-foreground: var(--color-neutral-400);
    --color-highlight: white;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-neutral-600);
    --color-border: var(--color-neutral-800);

    --color-accent-text: #ffbc1c;
    --color-image-background: #ffbc1c;
  }

  .gradient-overlay {
    display: none;
  }

  .arc {
    --color-background: var(--arc-palette-background, --color-background);
    --color-background-from: var(
      --arc-background-gradient-color0,
      --color-background
    );
    --color-background-to: var(--arc-background-gradient-color1);
    --color-foreground: var(--arc-palette-title, --color-foreground);
    --color-highlight: var(--arc-palette-maxContrastColor, --color-highlight);
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: var(--arc-palette-foregroundSecondary, --color-border);
    --color-accent-text: var(
      --arc-palette-foregroundSecondary,
      --color-accent-text
    );
    --color-image-background: var(--arc-palette-foregroundSecondary, #333);
    --color-image-accent: transparent;
    --color-image-background-from: var(--color-background-from);
    --color-image-background-to: var(--color-background-to);

    .gradient-overlay {
      display: block;
    }
  }

  .christmas {
    color-scheme: dark;
    --color-background: #590d0d;
    --color-background-from: #380000;
    --color-background-to: #590d0d;
    --color-foreground: #e9d1d1;
    --color-highlight: #f8b229;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: rgba(248, 178, 41, 0.4);
    --color-accent-text: white;
    --color-image-background: #165b33;
    --color-image-accent: #f8b229;
    --color-image-background-from: #042e16;
    --color-image-background-to: #165b33;

    .gradient-overlay {
      display: block;
    }
  }

  .miami {
    --font-heading: var(--font-miami);

    --color-background: #fbbd42;
    --color-background-from: #29d2f8;
    --color-background-to: #ff00e6;
    --color-foreground: hsla(315, 72%, 16%, 80%);
    --color-highlight: #331930;
    --color-link: #8c2782;
    --color-link-decoration: #d014bd;
    --color-border: rgba(0, 0, 0, 0.2);
    --color-accent-text: black;
    --color-image-background: #29d2f8;
    --color-image-accent: transparent;
    --color-image-background-from: #ff6a60;
    --color-image-background-to: #ffe853;

    .gradient-overlay {
      display: block;
    }
  }

  .winter-wonderland {
    color-scheme: dark;
    --color-background: #001f33;
    --color-background-from: #001b29;
    --color-background-to: #00334d;
    --color-foreground: #e8f9ff;
    --color-highlight: #80d4ff;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: rgba(128, 212, 255, 0.2);
    --color-accent-text: #ffffff;
    --color-image-background: #004d66;
    --color-image-accent: #80d4ff;
    --color-image-background-from: #002633;
    --color-image-background-to: #004d66;

    .gradient-overlay {
      display: block;
    }
  }

  .cozy-fireplace {
    color-scheme: dark;
    --color-background: #2e1a0f;
    --color-background-from: #3b2516;
    --color-background-to: #2e1a0f;
    --color-foreground: #fcebcf;
    --color-highlight: #d96c0d;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: rgba(217, 108, 13, 0.2);
    --color-accent-text: #ffffff;
    --color-image-background: #5c2c12;
    --color-image-accent: #d9980d;
    --color-image-background-from: #42200e;
    --color-image-background-to: #5c2c12;

    .gradient-overlay {
      display: block;
    }
  }

  .tranquil-forest {
    color-scheme: dark;
    --color-background: #2b423f;
    --color-background-from: #1f2e2d;
    --color-background-to: #2b423f;
    --color-foreground: #eae8dc;
    --color-highlight: #6aab8e;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: rgba(106, 171, 142, 0.2);
    --color-accent-text: #ffffff;
    --color-image-background: #231709;
    --color-image-accent: #26ba77;
    --color-image-background-from: #253d34;
    --color-image-background-to: #37594c;

    .gradient-overlay {
      display: block;
    }
  }

  .romantic-love {
    --color-background: #ffe2ee;
    --color-background-from: #a12b8b;
    --color-background-to: #ff98c4;
    --color-foreground: #5e1451;
    --color-highlight: #a12b8b;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: rgba(215, 93, 115, 0.2);
    --color-accent-text: #ffffff;
    --color-image-background: #8b3a56;
    --color-image-accent: #ffcdf6;
    --color-image-background-from: #a12b8b;
    --color-image-background-to: #ff98c4;

    .gradient-overlay {
      display: block;
    }
  }

  .golden-elegance {
    color-scheme: dark;
    --color-background: #171615;
    --color-background-from: #d4af37;
    --color-background-to: #443a29;
    --color-foreground: #f6e8c3;
    --color-highlight: #cab058;
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-link);
    --color-border: rgba(212, 175, 55, 0.2);
    --color-accent-text: #ffffff;
    --color-image-background: #3c2f1a;
    --color-image-accent: #cfbf8a;
    --color-image-background-from: #5f5123;
    --color-image-background-to: #a29466;

    .gradient-overlay {
      display: block;
    }
  }

  .funky-neon {
    color-scheme: dark;
    --color-background: #23074d;
    --color-background-from: #cc5333;
    --color-background-to: #23074d;
    --color-foreground: #f3f4ed;
    --color-highlight: #ff4d6d;
    --color-link: #00bbf9;
    --color-link-decoration: #00bbf9;
    --color-border: rgba(255, 77, 109, 0.4);
    --color-accent-text: #ffffff;
    --color-image-background: #00bbf9;
    --color-image-accent: #ff4d6d;
    --color-image-background-from: #ad447a;
    --color-image-background-to: #23074d;

    .gradient-overlay {
      display: block;
    }
  }

  .fork-it {
    --font-heading: var(--font-tomorrow);
    --color-background: #171717;
    --color-background-from: #1c1c1c;
    --color-background-to: #717171;
    --color-foreground: #a3a3a3;
    --color-highlight: #ebff11;
    --color-link: #f5f5f5;
    --color-link-decoration: #717171;
    --color-border: #000;
    --color-accent-text: #ebff11;
    --color-image-background: #ebff11;
    --color-image-accent: #f5f5f5;

    .gradient-overlay {
      display: block;
    }
  }

  .bearstudio {
    --font-heading: var(--font-trashhand);
    --color-background: #00404c;
    --color-background-from: #003139;
    --color-background-to: #007d93;
    --color-foreground: rgba(255, 255, 255, 0.7);
    --color-highlight: #ffc10e;
    --color-link: #fff;
    --color-link-decoration: #717171;
    --color-border: #000;
    --color-accent-text: #ffc10e;
    --color-image-background: #ffc10e;
    --color-image-accent: #ffc10e;

    .gradient-overlay {
      display: block;
    }
  }

  .start-ui {
    --font-heading: var(--font-rubik);

    --color-background: #111111;
    --color-foreground: rgba(255, 255, 255, 0.7);
    --color-highlight: #fff;
    h1,
    h2,
    h3 {
      &.text-highlight,
      & .text-highlight {
        font-weight: 700;
        background-clip: text !important;
        color: transparent;
        background: linear-gradient(
          24deg,
          #fcd34d,
          #f59e0b 13.54%,
          #fd6243 27.6%,
          #df74ee 42.19%,
          #8364f4 55.73%,
          #6ab7e0 70.31%,
          #92efcd 82.81%,
          #32cc91 96.88%
        );
      }
    }
    --color-link: #fff;
    --color-link-decoration: #717171;
    --color-border: #000;
    --color-accent-text: #fff;
    .bg-image-background {
      background: linear-gradient(
        24deg,
        #fcd34d,
        #f59e0b 13.54%,
        #fd6243 27.6%,
        #df74ee 42.19%,
        #8364f4 55.73%,
        #6ab7e0 70.31%,
        #92efcd 82.81%,
        #32cc91 96.88%
      );
    }
    --color-image-accent: transparent;
  }

  .braille {
    /* Sorry just a little troll 😅 */
    --font-heading: var(--font-braille);
    --font-sans: var(--font-braille);

    --color-background: #fffce8;
    --color-background-from: var(--color-neutral-100);
    --color-background-to: var(--color-neutral-800);
    --color-foreground: rgba(0, 0, 0, 0.4);
    --color-highlight: rgba(0, 0, 0, 0.6);
    --color-link: var(--color-highlight);
    --color-link-decoration: var(--color-neutral-400);
    --color-border: var(--color-neutral-200);
    --color-accent-text: var(--color-neutral-900);
    --color-image-background: #e4e2d2;
    --color-image-accent: #fffce8;
    --color-image-background-from: #f0e0ca;
    --color-image-background-to: #fefadb;

    .arobase {
      display: none;
    }
  }
}
