*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background: $color-accent;
}

img:not(.as--rwd-disabled) {
  max-width: 100%;
  width: auto \9;
  height: auto !important;
  -ms-interpolation-mode: bicubic;
}

img {
  vertical-align: middle;
  border: 0;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}

hr {
  border: none;
  border-bottom: rem(1) solid rgba(0, 0, 0, .1);
  margin: rem(30) 0;
}
