body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-dark;
}

a,
.e-emulate-a {
  cursor: pointer;
  color: inherit;
  text-decoration: underline;
  text-decoration-skip: ink;
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

a.e-clean-a {
  cursor: default;
  text-decoration: none;
}