$font-path: '/statics/fonts' !default;

$font-family-base: 'Geomanist', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-title: 'Salome', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
